@import "~bootstrap/dist/css/bootstrap.min.css";

.container {
  background: greenyellow;
  height: 550px;
  width: 500px;
}
.row {
  background: white;
  border-radius: 3%;
  height: 500px;
  width: 400px;
  margin-left: 7%;
}
.col-12 {
  font-size: 100px;
}
#numero {
  text-align: center;
  font-size: 120px;
}
#pintadown {
  text-align: end;
}
